## Address proxy will bind to.
proxy:
  host: 127.0.0.1
  port: 19122
## Destination server which the client will connect to.
## You are only able to join offline mode servers
destination:
  host: 127.0.0.1
  port: 19132
## Encode and decode packets to test protocol library for bugs
packet-testing: false
## Log packets for each session
log-packets: true
## Where to log packet data
## Valid options: console, file or both
log-to: file

## Packets to ignore to make your log more refined. These default packet are generally spammed
ignored-packets:
  - "NetworkStackLatencyPacket"
  - "LevelChunkPacket"
  - "MovePlayerPacket"
  - "PlayerAuthInputPacket"
  - "NetworkChunkPublisherUpdatePacket"
  - "ClientCacheBlobStatusPacket"
  - "ClientCacheMissResponsePacket"

# 是否开启区块检查
check-chunk-data: false
# 是否允许客户端区块缓存
allow-cache-chunk: true
# 服务端是 Nukkit 还是 Apollo/BDS
is-nukkit: false
